@font-face {
  font-family: "Pokemon Hollow";
  src: local("Pokemon Hollow"),
    url(../fonts/pokemon/Pokemon\ Hollow.ttf) format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
@font-face {
  font-family: "Pokemon Solid";
  src: local("Pokemon Solid"),
    url(../fonts/pokemon/Pokemon\ Solid.ttf) format("truetype");
}
@font-face {
  font-family: "Pocket Monk";
  src: local("Pocket Monk"),
    url(../fonts/pokemon/Pocket\ Monk.otf) format("opentype");
}

*,
body {
  margin: 0 auto;
  padding: 0;
}

/* background-repeat: no-repeat;
background-position: center; */
.BattleBackground {
  height: 100vh !important;
  width: 100vw;
  background-image: url("../backgrounds/25.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.back {
  max-height: 5%;
  min-height: 5%;
  display: flex;
}
.topDiv {
  max-height: 25%;
  min-height: 25%;
  display: flex;
  align-items: center;
}

.middleDiv {
  max-height: 55%;
  min-height: 55%;
  display: flex;
  align-items: center;
}

.bottomDiv {
  max-height: 15%;
  min-height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  display: flex;
}

.BattleMainContainer {
  max-height: 60vh !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.BattleMainHeading {
  display: flex;
  padding-top: 5%;
  font-family: "Pocket Monk";
  letter-spacing: 3px;
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  -webkit-text-stroke: 2px #3667b0;
  color: #ffcb04;
  filter: drop-shadow(5px 5px 0px rgba(0, 0, 0, 0.9));
  /* filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.4)); */
  /* creates image consisting of pregressive transitiopn between 2 or more colors*/
  /* background: linear-gradient(90deg, red, yellow); */
  /* The background-clip CSS property sets whether an element's background
  extends underneath its border box, padding box, or content box. */
  /* background-clip: text;
  color: transparent; */
  /* The drop-shadow() CSS function applies a drop shadow effect to the input image.  */
}

.UserMainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 50%;
  height: 100%;
}

.UserMainContainer img {
  height: 100%;
  width: auto;
  align-self: center;
  filter: drop-shadow(20px 15px 25px rgba(0, 0, 0, 0.5));
}

#pokeImage {
  display: flex;
  height: 500px;
  width: auto;
}

@media screen and (max-width: 1280px) {
  #pokeImage {
    height: 300px;
  }
}

@media screen and (max-width: 720px) {
  #pokeImage {
    height: 200px;
  }
}

.ComputerMainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 50%;
  height: 100%;
}

.ComputerMainContainer img {
  height: 100%;
  width: auto;
  align-self: center;
  filter: drop-shadow(20px 15px 25px rgba(0, 0, 0, 0.5));
}

.DivActionButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.ButtonAttack {
  width: 250px !important;
  height: 80px !important;
  font-size: 1.5em !important;
  background-color: blueviolet !important;
}

.ButtonBack {
  background-color: red !important;
  width: 130px !important;
  height: 50px !important;
  margin: 30px 0 0 30px !important;
}

.battleComments {
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.7));
  border-radius: 12px;
  width: 50%;
  height: 100%;
  padding: 2rem;
  font-family: "Pocket Monk";
  line-height: 125%;
  letter-spacing: 1px;
  font-size: 2.8rem;
  text-align: center;
  -webkit-text-stroke: 2px #3667b0;
  color: #ffcb04;

  /* background: linear-gradient(90deg, red, yellow, green) !important; */
}

.battleComments label {
  width: 100%;
}

.healthBarUserContainer {
  width: 70% !important;
  height: auto;
  align-self: center;
}

.healthBarContainer {
  display: flex;
  align-items: center;
  /* width: 90% !important;
  height: 90% !important; */
}

.healthBarValue {
  padding: 0 15px 0 0;
  font-family: "Pocket Monk";
  letter-spacing: 1px;
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
  -webkit-text-stroke: 3px #3667b0;
  color: #ffcb04;
  filter: drop-shadow(3px 3px 0px rgba(0, 0, 0, 0.9));
}

/* // Responsive */

@media screen and (max-width: 1280px) {
  #pokeImage {
    height: 300px;
  }
  .healthBarUserContainer {
    flex-shrink: 1;
  }

  .healthBarContainer {
    flex-shrink: 1;
  }
  .BattleMainHeading {
    letter-spacing: 2px;
    font-size: 4rem;
    text-align: center;
    -webkit-text-stroke: 2px #3667b0;
    color: #ffcb04;
    filter: drop-shadow(5px 5px 0px rgba(0, 0, 0, 0.9));
  }
  .battleComments {
    width: 50%;
    height: 100%;
    font-size: 2rem;
    -webkit-text-stroke: 1px #3667b0;
    color: #ffcb04;
  }
}

.wonMessage{
  font-size: 2.5em;
  color:darkmagenta;
}

.btnFightAgain{
  margin-top: 30px !important;
  background-color: darkmagenta !important;
}

.btnConfirm{
  margin-top: 30px !important;
  background-color: darkmagenta !important;
  width:210px !important;
  height: 50px !important;
}

.boxWinner{
  background-image: url('../backgrounds/WinnerImage_2.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.headingPokeType{
font-size: 1.3em;
color:mediumpurple;
text-transform: uppercase;
}

@media screen and (max-width: 720px) {
  #pokeImage {
    height: 200px;
  }
  .healthBarUserContainer {
    width: 100% !important;
    flex-shrink: 2;
  }
  .healthBarContainer {
    flex-shrink: 2;
  }
  .ButtonAttack {
    width: 10px !important;
    height: 50px !important;
    font-size: 1em !important;
  }
}
