@font-face {
  font-family: "Pokemon Hollow";
  src: local("Pokemon Hollow"),
    url(../fonts/pokemon/Pokemon\ Hollow.ttf) format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
@font-face {
  font-family: "Pokemon Solid";
  src: local("Pokemon Solid"),
    url(../fonts/pokemon/Pokemon\ Solid.ttf) format("truetype");
}
@font-face {
  font-family: "Pocket Monk";
  src: local("Pocket Monk"),
    url(../fonts/pokemon/Pocket\ Monk.otf) format("opentype");
}

*,
body {
  margin: 0 auto;
  padding: 0;
}

/* background-repeat: no-repeat;
background-position: center; */
.BattleBackground {
  height: 100vh !important;
  width: 100vw;
  background-image: url("../backgrounds/25.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.back {
  height: 5%;
}
.topDiv {
  height: 25%;
  display: flex;
  align-items: center;
}

.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary
  .MuiButton-sizeMedium
  .MuiButton-containedSizeMedium
  .MuiButtonBase-root
  .ButtonAction
  .css-sghohy-MuiButtonBase-root-MuiButton-root {
  background-color: red !important;
}

.middleDiv {
  height: 50%;
}

.bottomDiv {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 20%;
  width: 100vw;
}

.BattleMainContainer {
  max-height: 100vh !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.BattleMainHeading {
  padding-top: 5%;
  font-family: "Pocket Monk";
  letter-spacing: 3px;
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  -webkit-text-stroke: 2px #3667b0;
  color: #ffcb04;
  filter: drop-shadow(5px 5px 0px rgba(0, 0, 0, 0.9));
  /* filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.4)); */
  /* creates image consisting of pregressive transitiopn between 2 or more colors*/
  /* background: linear-gradient(90deg, red, yellow); */
  /* The background-clip CSS property sets whether an element's background
  extends underneath its border box, padding box, or content box. */
  /* background-clip: text;
  color: transparent; */
  /* The drop-shadow() CSS function applies a drop shadow effect to the input image.  */
}

.UserMainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 50%;
  height: 100%;
}

.healthBarUserContainer {
  width: 85%;
  align-self: center;
}

.UserMainContainer img {
  height: 90%;
  width: 85%;
  align-self: center;
  outline: white;
  filter: drop-shadow(20px 15px 25px rgba(0, 0, 0, 0.5));
}

.ComputerMainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 50%;
  height: 100%;
}

.ComputerMainContainer img {
  height: 90%;
  width: 85%;
  align-self: center;
  filter: drop-shadow(20px 15px 25px rgba(0, 0, 0, 0.5));
}

.DivActionButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.ButtonAttack {
  margin: 40px 90px 0px 80px !important;
  width: 250px !important;
  height: 80px !important;
  font-size: 1.5em !important;
  background-color: blueviolet !important;
}

.ButtonBack {
  background-color: red !important;
  margin: 30px 0 0 30px !important;
}

.battleComments {
  background-color: rgba(255, 255, 255, 0.7);
  filter: drop-shadow(10px 15px 15px rgba(0, 0, 0, 0.5));
  border-radius: 20px;
  width: 50%;
  padding: 40px;
  font-size: 2rem;
  text-align: center;
  /* background: linear-gradient(90deg, red, yellow, green) !important; */
}

.healthBarContainer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.healthBarValue {
  padding: 0 15px 0 0;
  font-family: "Pocket Monk";
  letter-spacing: 1px;
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
  -webkit-text-stroke: 3px #3667b0;
  color: #ffcb04;
  filter: drop-shadow(3px 3px 0px rgba(0, 0, 0, 0.9));
}
