.button-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-content: center;
}

.mainDivLanding {
  max-height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  text-align: center;
}

.mainDivLandingTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5em;
  /* padding-bottom: 1em;
  padding-top: 2em; */
  height: 40%;
}

.mainDivLandingLinks {
  display: block;
  height: 60%;
}

.mainBackground {
  height: 100vh !important;
  width: 100vw;
  background-image: url("../backgrounds/game_background_1.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.linkLanding {
  text-decoration: none;
}

.btnLanding {
  width: 200px !important;
  height: 70px !important;
  font-size: 1.5em !important;
  margin-right: 40px !important;
  background-color: green !important;
}

.btnSignUp{
  width: 100px !important;
  height: 40px !important;
  background-color: blue !important;
}

.headingWelcome {
  color: blue;
}

.mainDivRegister{
  max-height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  text-align: center;
   }

.divFormRegister{
  width: 30%;
  display: block;
  height: 60%;
}

.mainDivRegisterTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  /* padding-bottom: 1em;
  padding-top: 2em; */
  height: 10%;
}

.mainDivHome {
  /* max-height: 100vh;
  min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  text-align: center;
  background-color: rgb(118, 230, 224); 
  
}

.btnPokes{
  width: 100px !important;
  height: 40px !important;
  background-color:mediumvioletred !important;
  margin: 8px !important;
}

.headingHome{
  margin: 20px 0px;
  font-size: 3em;
  color:white;
}

.divUserInfo{
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: right;
  text-align: right;
  align-self: right;
  width:auto;
  margin-left:70%;
  margin-top: 5px;
  margin-right:3%;
}

.btnSignOut{
  width:100px;
  height:20px;
  color:mediumorchid !important;
  font-weight: 900 !important;
  
}

.headingUsername{
  text-transform: uppercase;
  color:mediumorchid;
  
}

.css-1jz7hv7-MuiImageList-root {
  width:100% !important;
  height: 100% !important;
  /* width: 100vw !important;
  height: 100vh !important; //commented-13-02-2022 */
  /* overflow-y: scroll; */
}

/* Health Bar Outline */
.css-10cf9xi-MuiLinearProgress-root {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7) !important;
  border: 3.5px solid #3667b0;
  border-radius: 12px !important;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.4));
}

/* Health-Bar Inner */
.css-5xe99f-MuiLinearProgress-bar1 {
  background: linear-gradient(90deg, red, yellow, green) !important;
}