/* // image gallery */
/* .css-1jz7hv7-MuiImageList-root {
  width:100% !important;
  height: 100% !important;
} */
/* Buttons above image gallery */
/* .css-sghohy-MuiButtonBase-root-MuiButton-root {
  margin: 8px !important;
  background-color: red !important;
  width: 90px;
} */

/* Health Bar Outline */
.css-10cf9xi-MuiLinearProgress-root {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7) !important;
  border: 3.5px solid #3667b0;
  border-radius: 12px !important;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.4));
}

/* Health-Bar Inner */
.css-5xe99f-MuiLinearProgress-bar1 {
  background: linear-gradient(90deg, red, yellow, green) !important;
}

/* .registerDiv{
  display: 'flex';
  flex-direction: 'column';
  justify-content: 'center';
  align-Items: 'center';
  padding: theme.spacing(2),
'& .MuiTextField-root': {
    margin: theme.spacing(1),
    width: '300px',
  }
  ,
'& .MuiButtonBase-root': {
    margin: theme.spacing(2),
  },
}, */